    <!doctype html>
    <html lang="ja">
      <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
             
    
        <title>{% block title %}{% endblock title %}</title>

        
        {% include 'templateh/css.html' %}

        <!--head タグ継承-->
        {% block head %}{% endblock head %}

      </head>
      <body>

        {% include 'templateh/nav.html' %}

<main>
  <div class="wrapper">
        {% include 'templateh/messages.html' %}
      
        {% block content %}{% endblock content %}
  </div>
</main>
      
        {% include 'templateh/footer.html' %}

        {% include 'templateh/js.html' %}

      </body>
    </html>