<!--nav.html タグ継承 現在はincludeしてない-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3 pb-3">
    <div class="container d-flex">
      <h2 class="text-white ps-5">
          Bookアプリ
      </h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Topページ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'booklist' %}">Book一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'create' %}">Book作成</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              プロフィール
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'accounts:profiel_edit' request.user.profiels.pk %}">プロフィール編集</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:profiel_detail' request.user.profiels.pk %}">プロフィール詳細</a></li>
            </ul>
          
          </li>
          {% endif %}
          {% block nav %}{% endblock nav %}
          
        
        
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
          <a href="{% url 'accounts:logout' %}" class="text-white btn btn-primary my-1 mx-2">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item active">
          <a href="{% url 'account_login' %}" class="text-white btn btn-primary my-1 mx-2">ログイン</a>
          </li>
          {% endif %}
          <li class="nav-item active">
          <a href="{% url 'account_signup' %}" class="text-white btn btn-primary my-1 mx-2">会員登録</a>
          </li>
        </ul>
      </div>
    </div>  
  </nav>
</header>