{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="">
{% endblock head %}

{% block content %}
{% block listnav1 %}{% endblock listnav1 %}

{% block listnav2 %}{% endblock listnav2 %}
<section id="login" style="padding-bottom: 300px;">
<div class="container">
    <h1 class="pt-5">ログイン</h1>
    <div class="card-body">
        <form method='POST'>
            {% csrf_token %}
            {% for error in form.errors.values %}
                {{error}}
            {% endfor %}
            <label class="mt-5 mb-2">
                Eメールアドレス
            </label>
            <input class="form-control m-3" name="email" style="width: 50%;">
            <label class="my-2">
                パスワード
            </label>
            <input type="password" class="form-control m-3" name="password" style="width: 50%;">
            <button type="submit" class="btn btn-outline-success m-3">ログインする</button>
        </form>
      </div>
</div>
</section>
{% endblock content %}