{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="">
{% endblock head %}

{% block title %}アカウント作成{% endblock title %}

{% block content %}
{% block listnav1 %}{% endblock listnav1 %}

{% block listnav2 %}{% endblock listnav2 %}
<section id="signin" style="padding-bottom: 300px;">
<div class="container">
<h1 class="pt-5">アカウント作成</h1>

<div class="card-body">
<div class="item-f">
<form method='post'>
    {% csrf_token %}
    <label class="mt-5 mb-3">
        Eメールアドレス
    </label>
    <input type="email" name='email' class="form-control ms-3" placeholder="Eメール" style="width: 50%;">

    <label class="my-3">
        ニックネーム
    </label>
    <input type="text" name='nickname' class="form-control ms-3" placeholder="ニックネーム" style="width: 50%;">

    <label class="my-3">
        パスワード
    </label>
    <input type="password" name='password1' class="form-control ms-3" placeholder="パスワード" style="width: 50%;">
    <label class="my-3">
        パスワード確認用
    </label>
    <input type="password" name='password2' class="form-control ms-3" placeholder="パスワード確認用" style="width: 50%;">
    <small class="m-3">※パスワードは8文字以上で設定してください。</small><br>
    {% if form.errors %}
    <span style='color: red;'>利用できないユーザーIDやパスワードの可能性があります。入力内容を再度ご確認ください。</span><br>
    {% endif %}
    <button type='submit' class="btn btn-outline-success m-3">アカウント作成</button>
</form>
</div>
</div>
</div>
</section>
{% endblock content %}