{% extends 'base.html' %}
{% load static %}
{% block title %}
プロフィール詳細画面|Bookアプリ
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/profeil_detail.css' %}">
{% endblock head %}

{% block content %}

{% for message in messages %}
    {% if message.tags == "error" %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
    <div {% if message.tags %}class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}    
    {% endfor %}


<div class="container-fluid pt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-7 col-md-12 text-center p-0">
            <div class="card ms-5 me-5">
                {% if request.user == profiel.outher %}
                <h5 class="card-header">マイプロフィール</h5>
                {% else %}
                <h5 class="card-header">{{profiel.nickname}}さんのプロフィール</h5>
                {% endif %}
                <div class="card-body">
                    {% if profiel.img %}
                    <img src="{{ profiel.img.url }}" class="profiel-img">
                    {% else %}
                    <img src="{% static 'image/default-image.png' %}" class="profiel-img">
                    {% endif %}
                    
                    <h5 class="mt-5">{{profiel.nickname}}</h5>
                    <p>{{profiel.sex}}</p>
                    <label>～自己紹介～</label>
                    <p class='card-text my-2'>{{profiel.text}}</p>
                {% if request.user == profiel.outher %}
                <div class="edit_button">
                    
                    <a class="btn btn-primary me-2 mt-5 w-100" href="{% url 'accounts:profiel_edit' profiel.pk %}">編集</a>

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--cardセクション-->
<section id="mybook_list">
<div class="container mt-5">
    <h2>投稿一覧</h2>
    <div class="card-deck">
         <div class="row g-5">
            
            
{% for mybook in mybooks %}
<div class="col-lg-4 col-sm-6">
    <span class="mt-2"><small>{{mybook.timestamp}}</small></span>
    <a class='link-dark' href="{% url 'detail' mybook.pk %}">
    <div class="card-effect h-100">

        <div class="card_body">
            <div class="d-flex justify-content-center">
                {% if mybook.thumbnail %}
                <img src="{{ mybook.thumbnail.url }}" class="img-thumbnail" style='max-hight: 20vh;'><br>
                {% comment %} style='max-height: 20vh;' {% endcomment %}
                {% else %}
                <img src= "{% static '/image/default-image.png' %}" class="img-thumbnail" style='max-hight: 20vh;'>
                {% endif %}
            </div>    
        <div class="card_text d-flex flex-column justify-content-between">
            <small>書籍名：</small>
            <h5 class="card-title">{{mybook.bookname}}</h5>

            <small>タイトル：</small>
            <p>{{mybook.subtitle}}</p>
        
            <p>カテゴリ:{{mybook.category}}</p>
        </div>
    </div>
</div>
</a>
</div>

{% endfor %}
</div>
</div>
</div>
</section>
{% endblock content %}