{% extends 'base.html' %}
{% load static %}
{% block title %}
プロフィール詳細画面|Bookアプリ
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/profeil_detail.css' %}">
{% endblock head %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-7 mx-auto text-center">
            <div class="card ms-5 me-5">
                <h5 class="card-header">プロフィール詳細画面</h5>
                <div class="card-body">
                    <img src="{% static '/image/background-img.jpeg' %}" class="profiel-img" alt="">
                    <h5 class="mt-5">{{profiel.nickname}}</h5>
                    <p>{{profiel.sex}}</p>
                    <label>～自己紹介～</label>
                    <p class='card-text my-2'>{{profiel.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cardセクション-->
<section>
<div class="container mt-5">
    <h2>投稿一覧</h2>
    <div class="card-deck">
         <div class="row g-4">
            
            
{% for mybook in mybooks %}
<div class="col-lg-3 col-sm-6">
    <a class='link-dark' href="{% url 'detail' mybook.pk %}">
    <div class="card-effect mt-5 h-100 position-relative">


        {% if mybook.thumbnail %}
        <img src="{{ mybook.thumbnail.url }}" class="card-img-top card_img"><br>
        {% else %}
        <img src= "{% static '/image/default-image.png' %}" class="card-img-top p-2">
        {% endif %}

        <div class="card-body">
            <label class="">書籍名：</label>
            <h5 class="card-title">{{mybook.bookname}}</h5>

            <label class="">タイトル：</label>
        <p>{{mybook.subtitle}}</p>
        <div class="position-absolute bottom-0 end-0">
            <p class="me-3">カテゴリ:{{mybook.category}}</p>
            <p class="me-3"><small>{{mybook.timestamp}}</small></p>
        </div>
    </div>
</a>
</div>
</div>


{% endfor %}
</div>
</div>
</div>
</section>
{% endblock content %}