:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
}


body {
    font-family: 'Kaisei Opti', serif;
}

div .formarea .position-relative {
    margin-top: auto;
}


div .searchform .position-absolute .end-0 {
    margin-top: auto;
}

