.m{
    margin-left: 5%;
    margin-right: 5%;
}

#book_form{
    padding-bottom: 200px;
}

.card{
    background-color:rgba(255, 255, 255, 0.575);
    background-blend-mode:lighten;
    border-radius: 20%;
}