:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.5);
}

.card_img{
    width: 312px !important;
    height: 234px !important;
}

div.cardeffect{
    box-shadow: var(--box-shadow);
    padding: 25px;
    width: auto;
    background-color: #0d6efd;
}


