{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock head %}

{% block title %}Book 一覧{% endblock title %}

{% block nav %}
{% comment %} <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    絞り込み
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      並び替え
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="#"></a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul> {% endcomment %}
{% endblock nav %}


{% block content %}
<div id="listpage">
<h1 class='mb-5 pt-5'>Book 一覧ページ</h1>

<div class="container">
  <!--検索フォーム-->
  <div class="row d-flex justify-content-end">

    <div class="col-lg-6 mb-5 ">
      
    {% if bookSearchForm %}<!-- searchFormがあれば -->
      <span>書籍名検索</span>
      <form action="{% url 'booklist' %}" class="form-inline" method="get"><!-- getメソッドでインデックス関数を呼び出す -->
        <div class="form-group mr-3">
          {{ bookSearchForm.bookname |add_class:"form-control search-form" }}<!-- views.pyから受け取ったsearchFormを表示 -->
          <input type="submit" class="btn btn-primary mb-2" value="検索">
          <a href="{% url 'booklist' %}">クリア</a><!-- postメソッドでインデックス関数を呼び出す -->
        </div>
      </form>
    {% endif %}
    
    {% if subtitleSearchForm %}<!-- searchFormがあれば -->
      <span>タイトル検索</span>
      <form action="{% url 'booklist' %}" method="get"><!-- getメソッドでインデックス関数を呼び出す -->
          {{ subtitleSearchForm.subtitle |add_class:"form-control search-form"}}<!-- views.pyから受け取ったsearchFormを表示 -->
          <input type="submit" class="btn btn-primary mb-2" value="検索">
          <a href="{% url 'booklist' %}">クリア</a><!-- postメソッドでインデックス関数を呼び出す -->
      </form> 
    {% endif %}
      </div>

      <div class="col-lg-12">
        <div class="plus_icon">
          <a href="{% url 'create' %}">
          <i class="bi bi-plus-square-fill"></i>
          </a>
        </div>
      </div>
    </div>
    </div>
  


<!--Book一覧-->
<section id="booklist">
<div class="container">
<div class="row">
<table class="table">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th scope="col">書籍名</th>
        <th scope="col">タイトル</th>
        <th scope="col">カテゴリ</th>
        <th scope="col">ユーザー</th>
        <th scope="col">性別</th>
      </tr>
    </thead>
    <tbody>
        {% for book in books %}
      <tr>
        <th scope="row">{{book.pk}}</th>
        
        <td><a class='indexlink' href="{% url 'detail' book.pk %}">{{book.bookname}}</a></td>
        <td>{{book.subtitle}}</td>
        <td>{{book.category}}</td>
        <td><a class='indexlink' href="{% url 'accounts:profiel_detail' book.created_by.profiels.pk %}">{{book.created_by.profiels.nickname}}</a></td>
        {% if book.created_by.profiels.sex %}
        <td>{{book.created_by.profiels.sex}}</td>
        {% else %}
        <td>未公開</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

</section>
</div>
{% endblock content %}