{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock head %}

{% block title %}Book 一覧{% endblock title %}
{% block content %}
  

<h1 class='m-5'>Book 一覧ページ</h1>

<div class="container">
    
  {% comment %} <span>書籍名検索</span>
  {% if form %}<!-- searchFormがあれば -->
  <form method="get"><!-- getメソッドでインデックス関数を呼び出す -->
    <div>
      {{ form }}<!-- views.pyから受け取ったsearchFormを表示 -->
      <input type="submit" value="検索">
      <a href='{% url "index" %}'>クリア</a><!-- postメソッドでインデックス関数を呼び出す -->
    </div>
  </form>
{% endif %} {% endcomment %}

<table class="table">
    <div class='row'>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book名</th>
        <th scope="col">タイトル</th>
        <th scope="col">カテゴリ</th>
        <th scope="col">ユーザー</th>
        <th scope="col">性別</th>
      </tr>
    </thead>
    <tbody>
        {% for book in books %}
      <tr>
        <th scope="row">{{book.pk}}</th>
        <td><a class='indexlink' href="{% url 'detail' book.pk %}">{{book.bookname}}</a>
        <td>{{book.subtitle}}</td>
        <td>{{book.category}}</td>
        <td><a class='indexlink' href="{% url 'accounts:profiel_detail' book.created_by.profiels.pk %}">{{book.created_by.profiels.nickname}}</a></td>
        {% if book.created_by.profiels.sex %}
        <td>{{book.created_by.profiels.sex}}</td>
        {% else %}
        <td>未公開</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock content %}