{% extends 'base.html' %}
{% load static %}
{% block title %}Book 詳細{% endblock title %}

{% block content %}
{% block listnav1 %}{% endblock listnav1 %}

{% block listnav2 %}{% endblock listnav2 %}

<div class="container">
<h1>Book 詳細</h1>

<h3>{{ object.title }}</h3>
{% if object.thumbnail %}
<img src="{{ object.thumbnail.url }}" class="img-thumbnail"><br>
{% else %}
<img src= "{% static '/image/default-image.png' %}">
{% endif %}
<p>{{ object.text }}</p>

カテゴリ:{{ object.category }}
<br>
<a href="{% url 'review' object.pk %}">レビューする</a>
<a href="{% url 'update' object.pk %}">編集する</a>
<a href="{% url 'delete' object.pk %}">削除する</a>
</div>


{% endblock content %}




