{% extends 'base.html' %}
{% load static %}
{% block title %}Book 詳細{% endblock title %}

{% block content %}
{% block listnav1 %}{% endblock listnav1 %}



<div class="container">
<h1>Book 詳細</h1>

<h3>Book名：{{ object.bookname }}</h3>
<h4>タイトル：{{object.subtitle}}</h4>
{% if object.thumbnail %}
<img src="{{ object.thumbnail.url }}" class="img-thumbnail"><br>
{% else %}
<img src= "{% static '/image/default-image.png' %}">
{% endif %}
<p>{{ object.text }}</p>

カテゴリ:{{ object.category }}
<br>
<a href="{% url 'review' object.pk %}">レビューする</a>
{% if request.user == object.created_by %}
<a href="{% url 'update' object.pk %}">編集する</a>
<a href="{% url 'delete' object.pk %}">削除する</a>
{% endif %}
<hr>
</div>


{% endblock content %}




