{% extends 'base.html' %}
{% load static %}
{% block title %}Book 詳細{% endblock title %}

{% block content %}


<div class="container">
<h1>Book 詳細</h1>

<h3>Book名：{{ book.bookname }}</h3>
<h4>タイトル：{{book.subtitle}}</h4>
{% if book.thumbnail %}
<img src="{{ book.thumbnail.url }}" class="img-thumbnail"><br>
{% else %}
<img src= "{% static '/image/default-image.png' %}">
{% endif %}
<p>{{ book.text }}</p>
ユーザー名：{{book.created_by.profiels.nickname}}
<br>
カテゴリ:{{ book.category }}
<br>
<a href="{% url 'review' book.pk %}">レビューする</a>
{% if request.user == book.created_by %}
<a href="{% url 'update' book.pk %}">編集する</a>
<a href="{% url 'delete' book.pk %}">削除する</a>
{% endif %}
<hr>
<h2 class='subtitle'>コメント</h2>
<hr>

<!--投稿一覧-->

{% for review in reviews %}
<h3>{{review.title}}</h3>
<p>{{review.text}}</p>
<p>評価：{{review.rate}}</p>
<small>{{review.timestamp}}</small>
<hr>
{% endfor %}

<!--投稿フォーム-->
<h2 class='subtitle'>コメントを投稿する</h2>
<form method='POST' action="{% url 'new_comment' book.pk %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value='作成する'>
</form>

</div>





{% endblock content %}




