{% extends 'base.html' %}

{% load static %}

{% block title %}TOP{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}

{% block content %}
    
<!--heroセクション-->
<div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
      <div class="row">
      <div class="col-lg-10 mx-auto text-center">
       <div class="welcome">
            <h2 class="display-5">ようこそBookアプリへ</h2>
            <p class="mt-5">あなたのBookを共有しましょう</p>
            <p>あなたが公開したBookはプロフィール詳細で確認する事が出来ます。</p>
          
          <div class="mt-4">
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary me-2" href="{% url 'booklist' %}">Go Page</a>

            <a class="btn btn-primary me-2" href="{% url 'accounts:profiel_edit' request.user.profiels.pk %}">プロフィール編集</a>
            
            <a class="btn btn-primary me-2" href="{% url 'accounts:profiel_detail' request.user.profiels.pk %}">プロフィール詳細</a>
            
            {% else %}
            
            <a href="{% url 'account_login' %}" class="btn btn-primary me-2">ログイン</a>

            <a href="{% url 'account_signup' %}" class="btn btn-primary me-2">会員登録</a>
            
            {% endif %}
          </div>
          

      
    </div>

    </div>
  </div>
</div>
</div>


{% endblock content %}