h1{
    text-align: center;
}

a.indexlink{
    color:inherit;
    text-decoration: none;
    color:#B66655;
    border-bottom:2px solid #B66655;
}

.search-form{
    width: 70%;
    display: inline;
}
