:root{
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

.card-img, .card-img-bottom, .card-img-top {
    height: 40%;
}

#mybook_list{
  padding-bottom: 500px;
}

.card{
    box-shadow: var(--box-shadow);
}

a {
    color: var(--dark);
    text-decoration: none;
  }

.card-effect{
  box-shadow: var(--box-shadow);  /*ボックスシャドウを付ける　色はrootに指定*/
  background-color: #fff;   /*カードの背景色*/
  padding: 5px 10px;              /*中の要素（文字など）からの間隔をあける*/
  transition: all 0.35s ease;   /*下のホバー時、下に沈み込むときの時間を設定*/
  border-radius: 5%;
}

/*カード設定　ホバー時*/
.card-effect:hover{
  box-shadow: none;     /*hoverしたときに影を出ないようにする*/
  transform: translateY(5px); /*ボックスシャドウに対して５px沈むように設定*/
}

  
.profiel-img{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-top: 2rem;
}